.row-header{
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
	color: white;
}

.row-content{
	margin:0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}
.footer{
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
	background: #D1C4E9;
	color: black;
}
.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: #9575CD;
	color: floralwhite;
	width: 100%;
}
/*
.navbar-brand{
	color: white;
}
*/
body{
	padding: 50px 0px 0px 0px;
	z-index: 0;
}
.navbar-dark{
	background-color: #512DA8;
}